body {
	width: 480px;
}

.line {
	display: grid;
	grid-template-rows: 50px 20px;
	grid-template-columns: 90px 1fr;
	margin-bottom: 15px;
}

.color {
	display: block;
	margin: 5px;
	border-radius: 4px;
	padding: 5px;
	width: 50px;
	height: 50px;
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}

.color.border {
	border: 1px solid #afafb0;
}

#c01 { background-color: #e6002f; } /* 赤色 */
#c02 { background-color: #ea609e; } /* 赤紫 */
#c03 { background-color: #9f4500; } /* 赤褐色 */
#c04 { background-color: #f08300; } /* 橙色 */
#c05 { background-color: #8d5025; } /* 茶色 */
#c06 { background-color: #664032; } /* 茶褐色 */
#c07 { background-color: #ffd900; } /* 黄色 */
#c08 { background-color: #afd147; } /* 黄緑色 */
#c09 { background-color: #726837; } /* 黄褐色 */
#c10 { background-color: #3eb370; } /* 緑色 */
#c11 { background-color: #9d973b; } /* 緑褐色 */
#c12 { background-color: #0095d9; } /* 青色 */
#c13 { background-color: #00afcc; } /* 青緑色 */
#c14 { background-color: #51318f; } /* 青紫色 */
#c15 { background-color: #8e4898; } /* 紫色 */
#c16 { background-color: #813b00; } /* 褐色 */
#c17 { background-color: #fffffe; } /* 白色 */
#c18 { background-color: #f8f5e3; } /* 黄白色 */
#c19 { background-color: #edd29b; } /* 白褐色 */
#c20 { background-color: #767676; } /* 灰色 */
#c21 { background-color: #996c4a; } /* 灰茶色 */
#c22 { background-color: #9e9169; } /* 灰黄色 */
#c23 { background-color: #698966; } /* 灰緑色 */
#c24 { background-color: #6b848d; } /* 灰青色 */
#c25 { background-color: #130012; } /* 黒色 */

.j {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	padding-top: 5px;
}

.name {
	font-size: 32px;
}

.ruby {
	font-size: 16px;
}

.ruby::before {
	content: "(";
}

.ruby::after {
	content: "）";
}

.e {
	font-family: Candara, Meiryo, sans-serif;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	font-size: 16px;
}